<%= form_with model: movie do |form| %>
  <div>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <% movie.errors.full_messages_for(:name).each do |message| %>
      <div class="alert alert-danger p-2"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :director, class: "form-label" %>
    <%= form.text_field :director, class: "form-control" %>
    <% movie.errors.full_messages_for(:director).each do |message| %>
      <div class="alert alert-danger p-2"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :category_id, class: "form-label" %>
    <%= form.number_field :category_id, class: "form-control" %>
    <% movie.errors.full_messages_for(:category).each do |message| %>
      <div class="alert alert-danger p-2"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :release_date, class: "form-label" %>
    <%= form.date_field :release_date, class: "form-control" %>
    <% movie.errors.full_messages_for(:release_date).each do |message| %>
      <div class="alert alert-danger p-2"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :user_id, class: "form-label" %>
    <%= form.number_field :user_id, class: "form-control" %>
    <% movie.errors.full_messages_for(:user_id).each do |message| %>
      <div class="alert alert-danger p-2"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit class: "btn btn-dark mt-2" %>
  </div>
<% end %>