<h1>Movies</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Director</th>
      <th scope="col">Category</th>
      <th scope="col">Release Date</th>
      <th scope="col">Status</th>
      <th scope="col">User ID</th>
      <th scope="col">User Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <th scope="row"><%= movie.id %></th>
        <td><%= movie.name %></td>
        <td><%= movie.director %></td>
        <td><%= movie.category.name %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.rented? ? "Rented" : "Available" %></td>
        <td><%= movie.rented? ? movie.user_id : "---" %></td> 
        <td><%= movie.rented? ? User.find(movie.user_id).name : "---" %></td> 
        <td>
          <%= link_to 'Show', movie, class: "btn btn-outline-dark btn-sm m-1" %>
          <%= link_to "Edit", edit_movie_path(movie), class: "btn btn-outline-dark btn-sm m-1" %>
          <%= link_to "Delete", movie_path(movie), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark btn-sm m-1"  %>
          <% if movie.rented? %>
            <%= link_to "Return", rental_path(movie.rentals.first), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm m-1"  %>
          <% else %>
            <%= link_to 'Rent', new_rental_path(movie_id: movie.id), class: "btn btn-outline-success btn-sm m-1" %>          
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Movie', new_movie_path, class: "btn btn-dark" %>
