<h1><%= @movie.name %></h1>

<%= form_with url: "/movies/#{@movie.id}/rent" do |form| %>
  <div>
    <%= form.label :user_id, "Select the user who is renting this movie:", class: "form-label" %>
    <%= form.number_field :user_id, class: "form-control" %>
    <% @movie.errors.full_messages_for(:user_id).each do |message| %>
      <div class="alert alert-danger p-2"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit "Rent", class: "btn btn-success mt-2" %>
  </div>
<% end %>