<%= form_with model: rental do |form| %>
  <div>
    <%= form.label :movie_id, "Movie ID: ", class: "form-label" %>
    <%= form.number_field :movie_id, class: "form-control mb-2" %>
    <% rental.errors.full_messages_for(:movie).each do |message| %>
      <div class="alert alert-danger p-2"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :user_id, "User ID: ", class: "form-label" %>
    <%= form.number_field :user_id, class: "form-control mb-2" %>
    <% rental.errors.full_messages_for(:user).each do |message| %>
      <div class="alert alert-danger p-2"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
<% end %>