<%= form_with model: rental do |form| %>
  <div class="d-none">
    <%= form.label :movie_id, class: "form-label" %>
    <%= form.text_field :movie_id, class: "form-control" %>
    <% rental.errors.full_messages_for(:movie).each do |message| %>
      <div class="alert alert-danger p-2"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :user_id, "User who wants to rent the movie: ", class: "form-label" %>
    <%= form.text_field :user_id, class: "form-control" %>
    <% rental.errors.full_messages_for(:user).each do |message| %>
      <div class="alert alert-danger p-2"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit "Rent!", class: "btn btn-success mt-2" %>
  </div>
<% end %>